.header {
    padding: 2rem 0;
    position: relative;
    background-color: #060c21;
    
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: -2px;
        background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: -2px;
        background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
        z-index: -2;
        filter: blur(15px);
    }

    &__title {
        font-family: 'Tourney', cursive;
        font-size: 4rem;
        font-weight: 800;
    }
}