.skills{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.skill {
    position: relative;
    padding: 2rem;
    text-align: center;
    background-color: #060c21;

    &::before {
        content: '';
        position: absolute;
        left: -2px;
        right: -2px;
        top: -2px;
        bottom: -2px;
        background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        left: -2px;
        right: -2px;
        top: -2px;
        bottom: -2px;
        background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
        z-index: -2;
        filter: blur(15px);
    }


    &__img {
        min-height: 150px;
        font-family: 'Tourney', sans-serif;
        font-weight: 800;
    }

    &__img img {}

    &__title {
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        padding: 1rem;
        left: 10px;
        right: 10px;
        bottom: 10px;
        transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease;
        transform: translateY(-50px);
    }

    &:hover .skill_title {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }

}

@media (max-width: 899.5px) {
    .skills {
        grid-template-columns: repeat(3, 1fr);
    }

    .skill__title {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 629.75px) {
    .skills {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 424.75px) {
    .skills {
        grid-template-columns: repeat(1, 1fr);
    }

}