section.main
    .container
        h2.main__title About me
        .main__content
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, corrupti rem sed ullam ratione aperiam itaque quis hic molestias velit vero totam voluptates repudiandae perspiciatis dolores, dicta numquam! Placeat, rerum!
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam laborum consequuntur optio qui beatae in dignissimos quis, excepturi sequi deleniti, adipisci perspiciatis reprehenderit, perferendis porro. Dolore inventore recusandae quas sunt!