section.main
    .container
        h2.main__title About me
        .main__content
            p Hi, I'm Anton Malinovsky. I am actively studying Front-end, I have a civil engineer education, I graduated from BNTU!
            p I wish to develop, learn new technologies and use them to the maximum