include ../mixins/skill
section.main
    .container
        h2.main__title Skills
        .skills
            +skill({
                img: './assets/imgs/html5.svg',
                title: 'HTML5',
            })
            +skill({
                img: './assets/imgs/pug_icon_132068.svg',
                title: 'PUG',
            }) 
            +skill({
                img: './assets/imgs/icons8-css3.svg',
                title: 'CSS3',
            })
            +skill({
                img: './assets/imgs/icons8-sass.svg',
                title: 'SCSS'
            })