include ../mixins/skill
section.main
    .container
        h2.main__title Skills
        .skills
            +skill({
                img: '',
                title: 'HTML5',
            })
            +skill({
                img: '',
                title: 'PUG',
            })
            +skill({
                img: '',
                title: 'CSS3',
            })
            +skill({
                img: '',
                title: 'SCSS'
            })