include ../mixins/work

section.main
    .container
        h2.main__title Works
        .works
            +work({
                link: 'https://masver.github.io/ice_cream/project_ice_cream/',
                img: "./assets/imgs/ice_cream.png",
                tech: 'Techs: HTML, CSS',
                time: 'Time 8 hours',
            })
            +work({
                link: '',
                img: "./assets/imgs/royal_park.png",
                tech: 'Techs: HTML, CSS',
                time: 'Time 8 hours',
            })
            +work({
                link: 'https://masver.github.io/dz3_Malinouski_Anton/build/',
                img: "./assets/imgs/fruits_and_vegetables.png",
                tech: 'Techs: PUG, SCSS, Gulp',
                time: 'Time 8 hours',
            })
            +work({
                link: '',
                img: "./assets/imgs/richard_app.png",
                tech: 'Techs: JavaScript, React, oh no...',
                time: 'Time 8 hours',
            })