include ../mixins/work

section.main
    .container
        h2.main__title Works
        .works
            +work({
                link: '',
                img: "",
                tech: 'Techs: HTML, CSS',
                time: 'Time 8 hours',
            })
            +work({
                link: '',
                img: "",
                tech: 'Techs: HTML, CSS',
                time: 'Time 8 hours',
            })
            +work({
                link: '',
                img: "",
                tech: 'Techs: PUG, SCSS, Gulp',
                time: 'Time 8 hours',
            })
            +work({
                link: '',
                img: "",
                tech: 'Techs: JavaScript, React, oh no...',
                time: 'Time 8 hours',
            })